
* {
	box-sizing: border-box;
	margin: 0;
}

:root{
	--rayous-theme-color: #09D0D0;
	--rayous-theme-color-alter: #a509d0;
	--rayous-bg-color-1: #000b0b;
	--rayous-bg-color-2: #030707;
	--rayous-text-color-bg: #ffffff;
	--rayous-text-color-accent: #ffffff;
	--rayous-shade-color: #1a1a1a;
}

.widget.disabled{
	--rayous-theme-color: #666666;
	--rayous-theme-color-alter: #666666;
}