
.button{
	padding: 6px 14px;
	font-weight: 600;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: var(--theme-color-fg);
	background-color: var(--theme-color);
	border: 0;
	border-radius: 6px;

	.icon{
		line-height: 25px;
	}
}

.button:hover{
	opacity: .5;
}

.button:has(.icon:not(.icon-right)){
	.icon{
		float: left;
		margin-left: -8px;
	}
}
.button:has(.icon.icon-right){
	.icon{
		float: right;
		margin-right: -8px;
	}
}

.button-transparent{
	background-color: transparent;
	color: inherit;
}

.button-segment{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	--rad: 1rem;
}

.button-segment .button{
	margin: 0.1rem;
	border-radius: 0.2rem;
}

.button-segment .button:first-child{
	border-radius: var(--rad) 0.2rem 0.2rem var(--rad);
}

.button-segment .button:last-child{
	border-radius: 0.2rem var(--rad) var(--rad) 0.2rem;
}

.button-segment .button.icon-only .icon{
	transform: translate(-2px, 1px);
}