


.widget-row,.widget-column, .widget-center {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.widget-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.widget-column {
  flex-direction: column;
  flex-wrap: nowrap;
}